<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my Sinatra app</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <a href="/">Home</a>
    |
    <a href="/contact">Contact Us</a>
    |
    <a href="/all_contacts">All Contacts</a>

    <hr>
    <%= yield %>


  </body>
</html>
