<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my Sinatra app</title>
  </head>
  <body> -->
    <h1>Welcome

    <% if @name %>
      <%= @name %>
    <% else %>
      Awesome user
    <% end %>

    to my first Sinatra app at CodeCore</h1>

<!--   </body>
</html>
 -->