<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my Sinatra app</title>
  </head>
  <body> -->
    <h1>Welcome

    <% if @name %>
      <%= @name %>
    <% else %>
      Awesome user
    <% end %>

    to my first Sinatra app at CodeCore</h1>

    Please pick a color:
    <form method="post" action="/">
      <label for="color">Choose background color</label>
      <input type="text" name="color" id="color" placeholde"red white blue green" />
      <input type="submit" value="Set Color!" />
    </form>

<!--   </body>
</html>
 -->